table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-raised-button {
  margin-right: 5px !important;
}

.mat-raised-button {
  margin-right: 5px !important;
}

//mat-card-title {
//  background-color: #006ead;
//  color: white;
//  font-size: 18px;
//  padding-left: 10px;
//  padding-bottom: 5px;
//  border-radius: 2px;
//  margin-top: 2px;
//}

.berthClick {
  cursor: pointer;
  color: blue !important;
}

#header-wrapper {
  max-width: 99% !important;
  margin: auto;
}

#header-title {
  float: left;
  /* max-width: 100px; */
  margin-top: 15px;
  //margin-left: 10vh;
}
