<mat-card>
    <div id="header-wrapper">
        <h3 id="header-title">Service PDA</h3>
        <div class="clearfix"></div>
        <mat-divider></mat-divider>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
            </mat-form-field>
        </div>
        <div class="col-12">
            <div class="mat-elevation-z8">
                <table [dataSource]="dataSource" mat-table matSort>
                    <ng-container matColumnDef="pdaNo">
                        <th *matHeaderCellDef mat-header-cell> PDA No</th>
                        <td *matCellDef="let element" mat-cell> {{element.pdaNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="jobNo">
                        <th *matHeaderCellDef mat-header-cell> Job No</th>
                        <td *matCellDef="let element" mat-cell> {{element.jobNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="vesselName">
                        <th *matHeaderCellDef mat-header-cell> Vessel</th>
                        <td *matCellDef="let element" mat-cell> {{element.vesselName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="portName">
                        <th *matHeaderCellDef mat-header-cell> Port</th>
                        <td *matCellDef="let element" mat-cell> {{element.portName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="berthName">
                        <th *matHeaderCellDef mat-header-cell> Berth</th>
                        <td *matCellDef="let element" mat-cell> {{element.berthName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="eta">
                        <th *matHeaderCellDef mat-header-cell> ETA</th>
                        <td *matCellDef="let element" mat-cell> {{element.eta | date: 'dd-MMM, yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ata">
                        <th *matHeaderCellDef mat-header-cell> ATA</th>
                        <td *matCellDef="let element" mat-cell> {{element.ata}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cargo">
                        <th *matHeaderCellDef mat-header-cell> Cargo</th>
                        <td *matCellDef="let element" mat-cell> {{element.cargo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="operation">
                        <th *matHeaderCellDef mat-header-cell> Operation</th>
                        <td *matCellDef="let element" mat-cell> {{element.operation}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th *matHeaderCellDef mat-header-cell> Action</th>
                        <td *matCellDef="let element" mat-cell>
                            <button (click)="clickPDADetails(element);selectTR = element.id" color="primary"
                                    mat-raised-button>Service PDA
                            </button>
                        </td>
                    </ng-container>
                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="row.id === selectTR ? 'backColor' : ''" mat-row>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="displayRecord" class="row">
        <div class="col-12">
            <h4>Service PDA</h4>
        </div>
        <hr>
        <div class="col-12">
            <app-service-pda-details [parentToChild]="pdaObj"></app-service-pda-details>
        </div>
    </div>
</mat-card>