table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-raised-button {
  margin-right: 5px !important;
}


.addBtn {
  float: right;
  margin: 10px;
}

#header-wrapper {
  max-width: 99% !important;
  margin: auto;
}

#header-title {
  float: left;
  max-width: 100px;
  margin-top: 15px;
}

//.addrs {
//  position: relative;
//  top: -17px;
//}
