.backColor {
  background: #e0dbdb;
}

.backColor:hover {
  background: #e0dbdb;
}

.rowSelected {
  cursor: pointer;
}

span.file {
  color: blue !important;
  position: relative !important;
  bottom: 6px !important;
}