table {
  width: 100%;
}

.uploadTag {
  top: 9px;
}

mat-icon {
  position: absolute;
  bottom: -1px;
  padding-left: 24px;
}

.tableTag {
  top: 22px;
  margin-bottom: 14px;
}

.mat-form-field {
  width: 70% !important;
}
