
.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
    opacity: 0.8;
}

.mat-card{
    float: left;
    
}

.mat-icon{
    padding-top: 5px;
}

.align{
    padding-top: 8px;
}